---
layout: handbook-page-toc
title: People Team Performance Indicators
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<%= performance_indicators('People Team') %>