---
layout: default
title: GitLab or GitHub
description: "Don't trust your business critical pipelines to an unproven tool. Use the industry's leading CI/CD."
suppress_header: true
canonical_path: "/compare/jenkins-alternative/"
extra_css:
  - comparison-page.css
  - gitlab-feature-landing-page.css
  - features.css
  - landing-5433.css
  - form-compact.css
  - form-to-resource.css
destination_url: "https://learn.gitlab.com/c/making-the-case-cicd?x=0pfOoN&lb_email="
form_id: "1592"
form_type: "webcasts"
cta_title: "Free CI/CD Webcast:"
cta_date:
cta_subtitle:
link_text: "&gt; Click here to view the webcast."
success_message: "You will also receive a link to the on-demand webcast and additional related content sent to your inbox shortly."
---
.wrapper.gitlab-ee-page
  .blank-header{ style: "background: #ffffff;" }
    .header-5433
      .row
        .col-md-6.hero-copy
          %h1 Making the case for CI/CD in your organization
          %h3 Learn how to communicate the value of CI/CD and gain keys to success
        .col-md-5.col-md-offset-1.hero-image
          = image_tag "/images/intro-graphics/lab-illustration.svg", alt: "GitLab"
  .sub-wrapper
    .container
      .row
        .col-md-4.col-md-offset-1
          %p The practice of continuous integration and continuous delivery (CI/CD) is fundamental to modern software development. And yet, many organizations are still using slow, error-prone, manual processes to build, test, and deploy their software.

          %p Watch this webcast to learn how to show your IT leadership and executives the benefits of updating your CI/CD tools across your organization.
          
          %h2.compare-heading.u-text-brand.u-margin-top-0 What you will learn in this webcast:
          %ul
            %li How to make a strong business case for CI/CD
            %li Approaches to getting started with CI/CD
            %li Measuring results of test CI/CD automation

        .col-md-5.col-md-offset-1
          .webcast-outer-wrapper
            = partial "includes/form-to-resource"

  -#.cta-featured-image
    .row.u-margin-bottom-md
      .col-md-10.col-md-offset-1.u-padding-top-sm
        %h3 These companies chose GitLab CI/CD as their reliable, proven solution
        .customer-logos.text-center
          .customer-logo
            = partial "/images/customers/logo_goldman_sachs-color.svg"
            %p.number 1000+
            %p.description CI feature builds a day by some teams from 2 builds/day
          .customer-logo
            = partial "/images/customers/logo_ticketmaster-color.svg"
            %p.number 15x
            %p.description faster builds from over 2 hours down to 8 minutes
          .customer-logo
            = partial "/images/customers/logo_verizon-color.svg"
            %p.number < 8 hours
            %p.description data center build time from 30 days

  = partial "includes/home/customer-logos-transparent-ultra"

:css
  .sub-wrapper {
    padding:30px 0 20px 0;
  }
  .customer-logos-container {
    background: #f2f2f2;
    margin-bottom: -80px;
    padding: 50px 20px 50px 20px;
  }
