---
title: Education Services
suppress_header: true
description: "GitLab Education Services"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Education Services
    %h2.headline-subtitle
      Train your teams to become efficient in GitLab & Concurrent DevOps

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 Summary
        %p.service-para
          Your teams are composed of highly proficient technical experts. With any comprehensive solution, there is a learning curve to consider. Our product specialists - technology professionals themselves - are available to train your teams to become efficient in GitLab quickly.

        %h2 Who is this service for?
        %p.service-para
          Anyone looking to cut "under the curve" of learning not only GitLab but Concurrent DevOps best practices.

        %h2 What's included?
        %p GitLab offers a variety of standard courses delivered at your site or remotely by our experienced GitLab trainers. Starting in May 2020, we're including official GitLab Technical Certification assessments for attendees of selected courses. In addition, we offer specialized training that can be customized even further to meet your team's unique needs.
        %p Here are the standard courses we offer.
        %ul
          %li
            %a{href: '/services/education/gitlab-basics'} GitLab with Git Basics Training
          %li 
            %a{href: '/services/education/gitlab-ci'}GitLab CI/CD Training
          %li
            %a{href: '/services/education/pm'} GitLab for Project Managers
          %li
            %a{href: '/services/education/admin'} GitLab for System Administrators
          %li
            %a{href: '/services/education/devops-fundamentals'} GitLab DevOps Fundamentals
          %li
            %a{href: '/services/education/innersourcing-course/'} GitLab InnerSourcing Training
        %p 
          For a complete list of Professional Services offerings visit the 
          %a{href: '/services/catalog/'} 
            Full Catalog page.    

.services-form#contactform
  .page-container.container.text-center
    %h2 Interested in GitLab Professional Services? Get in touch.
    %script{src: "//page.gitlab.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1476
    :javascript
      MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 1476, function(form) {
        form.onSuccess(function(values, followUpUrl) {

          form.getFormElem().hide();
          document.getElementById('confirmform').style.visibility = 'visible';
          return false;
        });
      });
    #confirmform{style: "visibility:hidden;"}
      %p Submission received! We'll be in contact shortly.
